 {{ partial "head.html" . }}
<!-- <center>
    <div class="alert alert-danger" role="alert">
        <iframe src="https://res.cloudinary.com/demo/video/upload/l_video:bike_stunt,e_reverse,fl_splice/l_video:bike_stunt,e_accelerate:-50,fl_splice/bike_stunt.mp4" frameborder="0" loop controls="no"></iframe>
        <h1>Opss!</h1>
        <h2>Page Not Found</h2>
        <h1>404</h1>
        <h4>back to <a href="https://walldevblog.netlify.com">homepage</a></h4>
        <h4>or other Blog <a href="https://walldev.netlify.com" target="_blank">Walldev</a></h4>
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div>
</center> -->
<style>
    body {
        background-color: #95c2de;
      }
      
      .mainbox {
        background-color: #95c2de;
        margin: auto;
        height: 600px;
        width: 600px;
        position: relative;
      }
      
        .err {
          color: #ffffff;
          font-family: 'Nunito Sans', sans-serif;
          font-size: 11rem;
          position:absolute;
          left: 20%;
          top: 8%;
        }
      
      .far {
        position: absolute;
        font-size: 8.5rem;
        left: 42%;
        top: 15%;
        color: #ffffff;
      }
      
       .err2 {
          color: #ffffff;
          font-family: 'Nunito Sans', sans-serif;
          font-size: 11rem;
          position:absolute;
          left: 68%;
          top: 8%;
        }
      
      .msg {
          text-align: center;
          font-family: 'Nunito Sans', sans-serif;
          font-size: 1.6rem;
          position:absolute;
          left: 16%;
          top: 45%;
          width: 75%;
        }
      
      a {
        text-decoration: none;
        color: white;
      }
      
      a:hover {
        text-decoration: underline;
      }
</style>

<div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="#">home</a> and try from there.</p></div>
</div>