 {{ partial "head.html" . }}
<center>
    <div class="alert alert-danger" role="alert">
        <iframe src="https://res.cloudinary.com/demo/video/upload/l_video:bike_stunt,e_reverse,fl_splice/l_video:bike_stunt,e_accelerate:-50,fl_splice/bike_stunt.mp4" frameborder="0" loop controls="no"></iframe>
        <h1>Opss!</h1>
        <h2>Page Not Found</h2>
        <h1>404</h1>
        <h4>back to <a href="https://walldevblog.netlify.com">homepage</a></h4>
        <h4>or other Blog <a href="https://walldev.netlify.com" target="_blank">Walldev</a></h4>
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
      </div>
</center>
