body {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.navbar {
    background-color: #17A2B8;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.img-wall {
    border: 7px solid;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.judul-card h4 {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight : 500;
}

.judul-card h4 a {
    text-decoration: none;
}

.judul-card h4 a:hover {
    color: rgb(26, 42, 136);
}

.post-header h2 {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 40px;
}

.post-content  {
    font-size: 17px;
    line-height: 1.4211;
    font-weight: 400;
    letter-spacing: .012em;
}

.post-content h2, 
.post-content h3, 
.post-content h4, 
.post-content h5,
.post-content h6 {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 1em 0;
}  

.post-content img {
    max-width: 100%;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.80rem;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.judul-artikel {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 700;
    letter-spacing: -.003em;
}

