<aside>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Video Tutorial</h5>
            <hr>
            <iframe height="250" src="https://www.youtube.com/embed/IJfeFnq0R54" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a href="https://www.youtube.com/channel/UCMQYCc8eY7mLB8-7y_l2xfA" target="_blank" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" data-placement="right" title="Video Youtube lainnya ..."> Video lainnya <i class="fab fa-youtube"></i><a>
        </div>
       
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Dukungan</h5>
            <hr>
            <p class="card-text">
                Beri dukungan untuk konten yang lebih baik.
            <br>
            {{/*  <a href="https://trakteer.id/walldev/tip" target="_blank" class="btn btn-outline-danger">Traktir saya kopi! <i class="fas fa-coffee"></i></a>  */}}

            <script type='text/javascript' src='https://cdn.trakteer.id/js/embed/trbtn.min.js'></script><script type='text/javascript'>(function(){var trbtnId=trbtn.init('Dukung Saya di Trakteer','#be1e2d','https://trakteer.id/walldev','https://cdn.trakteer.id/images/embed/trbtn-icon.png','40');trbtn.draw(trbtnId);})();</script>
              <!-- <b>Co-founder Walldev</b>  </p> -->
              <!-- <a href="https://muhawaluddin.com" target="_blank">Cek Profile</a> -->
         
        </div>
    </div>
    <br/>
    <!-- <div>
        <button>{{ range .Params.categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> 
           {{ end }}</button>
    </div> -->
    <div class="card">
        <div class="card-body">
            <div class="widget mb-5">
                <h5 class="card-title font-weight-bold">Postingan Terbaru</h5>
                <hr>
                <ul class="list-unstyled">
                  {{ range first 3 ( where .Site.Pages "Type" "artikel" )}}
                  <li class="d-flex mb-4">
                    <a href="{{ .Permalink }}" class="mr-3">
                      {{ with .Params.image }}<img src=""....>{{ end }}
                    </a>
                    <div class="post-body">
                      <small class="text-capitalize badge badge-info text-wrap"> {{ dateFormat "Monday, Jan 2, 2006" .Date }}</small>
                      <a href="{{ .Permalink }}">
                        <h6>{{ .Title }}</h6>
                      </a>
                    </div>
                  </li>{{ end }}
                </ul>
            </div>
        </div>
    </div>
    <br/>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title font-weight-bold">Tags</h5>
            <hr>
            {{  with .Params.tags }}
                {{range .}}
                    <li>
                        <a href="/tags/{{ . | urlize}}" class="btn btn-outline-info btn-sm" style="margin-top: 3px;">{{ . }} </a>
                    </li>
                {{ end }}
            {{ end }}
        </div>
    </div>
    <br/>
 
</aside>