<footer class="border border-bottom-0 border-left-0 border-right-0 bg-dark">
    <div class="container pt-3 pb-3 pt-md-5 pb-md-5">
        <div class="row">
            <div class="col">
                <p class="text-light bg-dark">
                &copy; {{ now.Format "2006"}} <a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a> Tutorial | Coming soon!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- Facebook -->
                <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i
                ></a>

                <!-- Twitter -->
                <a class="btn btn-primary" style="background-color: #55acee;" href="#!" role="button"
                ><i class="fab fa-twitter"></i
                ></a>

                <a class="btn btn-primary" style="background-color: #ac2bac;" href="#!" role="button"
                ><i class="fab fa-instagram"></i
                ></a>

                <a class="btn btn-primary" style="background-color: #b82525;" href="#!" role="button"
                ><i class="fab fa-youtube"></i
                ></a>
            </div>
        </div>
    </div>
</footer>