<header>
    <div class="jumbotron jumbotron-fluid bg-info text-white">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <img src="/img/wall.png" alt="" class="rounded-circle img-wall" width="250" height="250">
                        <h1 class="title-blog">Walldev Blog</h1>
                        <p class="lead">Diskusi dunia kode-kodean</p>
                        <a href="https://www.youtube.com/channel/UCMQYCc8eY7mLB8-7y_l2xfA" class="btn btn-danger" target="_blank">Ikuti di Youtube <i class="fab fa-youtube"></i></a>
                    </center>
                </div>
                <div>     
            </div>
        </div>
    </div>
</header>